$font-stack: 'open sans', sans-serif;
$dark-gray: #444;
$med-gray: #999;
$light-gray: #c9c9c9;
$green: #1bcf21;

body {
  font-size: 14px;
  font-family: $font-stack;
  width: 100%;
  color: $dark-gray;
  background-color: #972121;
  background: repeating-linear-gradient(
    44.6deg,
    rgba(80, 80, 80, 0.1),
    rgba(80, 80, 80, 0.1) 10px,
    rgba(80, 80, 80, 0.2) 10px,
    rgba(80, 80, 80, 0.2) 20px
  );
  padding-top: 80px;
}
p{ line-height: 1.6rem; }
.container{ width: 100%; }

.btn{
  cursor: pointer;
  background-color: $green;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px $green;
  border-radius: 4px;
  padding: 9px 17px;
  &.red{
    background-color: red;
    box-shadow: 0 0 0 2px red;
    margin-right: 22px;
  }
  &.blue{
    background-color: blue;
    box-shadow: 0 0 0 2px blue;
    margin-right: 22px;
  }
  &:hover{
    background-color: $dark-gray;
    box-shadow: 0 0 0 2px $dark-gray;
  }
  &.narrow{
    padding: 6px 10px;
    box-shadow: none;
    border: none;
  }
  &.big{
    padding: 10px 30px;

  }
}

// FORMS, FIELDS, INPUTS
input[type=text], input[type=number], input[type=password]{
  display: block;
  width: 94%;
  color: #333;
  padding: 15px 5px;
  margin: 10px auto 15px auto;
  border: none;
  border-left: 4px solid $green;
  border-top: 1px solid #fff;
  border-bottom : 1px solid $green;
  font-weight: bold;
  &:focus{
    border: 1px solid white;
    width: 100%;
    margin: 10px 0 15px -7px;
    box-shadow: 0 0 12px $light-gray;
  }
  &::placeholder{
    color: #c8c8c8;
    font-weight: normal;
    font-style: italic;
  }
}

.react-datepicker-wrapper{
  width: 100%;
}

label{
  font-weight: bold;
  color: $med-gray;
  position: relative;
  left: -5px;
  width: 94%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: .9rem;
  text-align: left;
  span{
    display: block;
    color: $light-gray;
    margin-top: 6px;
    font-style: italic;
    font-size: .9rem;
    position: relative;
    left: -2px;
  }
}

.cu_checkBox{
  padding: 23px 0px;
  margin-left: -10px;
  cursor: pointer;
  input{ opacity: 0; }
  span{
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    bottom: -4px;
    border-radius: 4px;
    background-color: #e4e4e4;
  }
  input:checked + span{
    &:after{
      position: absolute;
      top: -9px;
      left: 4px;
      height: 20px;
      width: 20px;
      content: 'L';
      font-weight: bold;
      font-size: 25px;
      transform: scaleX(-1) rotate(-40deg);
    }
  }
}

.grouping{
  width: 95%;
  margin: 0 auto;
}

.right{
  display: flex;
  justify-content: flex-end;
}
.md-center{
  @media (max-width: 1000px){ 
    &{
      justify-content: center;
    }
  }
}
.row{
  display: flex;
  justify-content: space-evenly;
  @supports (-ms-ime-align:auto) {
    & { justify-content: space-around; }
  }
  flex-direction: row;
  flex-wrap: wrap;
}

@media all and (-ms-high-contrast:none){
    *::-ms-backdrop, .row{ justify-content: space-around; } /* IE11 */
  }

.contentBox{
  width: 94%;
  min-width: 300px;
  margin: 0 5px 35px 5px;
  padding: 15px 10px;
  padding-top: 46px;
  background-color: #fff;
  border: 1px solid rgb(189, 189, 189);
  box-shadow: 0 0 0 6px #fff, 0 0 10px black;
  position: relative;
  &.sm, .sm{ width: calc(24% - 10px); }
  &.thr, .thr{ width: 32%; }
  &.md, .md, .md-f{ width: 45%; }
  &.m-lg, .m-lg { width: 60%; }
  &.lg, .lg{ width: 70%; }
  &.max, .max{ width: 98%; }
  &.xs, .xs { width: 16%; }

  @media (max-width: 1000px){ 
    width: 94%; 
    margin: 15px auto;
    &.md, &.sm, &.lg, .sm, .thr, .md, .lg, .xs, .m-lg{ 
      width: 94%;  
      margin: 15px auto;
    }
  }
}

.mt-40 { margin-top: 40px; }
.mt-10 { margin-top: 10px; }
.mb-40 { margin-bottom: 40px; }
.mb-10 { margin-bottom: 10px; }
.w-100{ width: 100% }
.fw-b{font-weight: bold;}
.d-bl{display: block; }

p{
  &.text-left { text-align: left;}
  &.text-right { text-align: right;}
}

.h-560{
  @media (max-width: 560px){ 
    display: none;
  }
}

.f-400{
  @media (max-width: 400px){ 
    display: block;
    & .md-f{
      width: 98%;
    }
  }
}

.center { text-align: center; }
.remark{
  color: rgb(44, 44, 44);
  font-size: 1rem;
  line-height: 1.9rem;
}

.dashNavLinks{
  display: flex;
  @media (max-width: 693px){ 
    display: none;
  }
  a{
    text-decoration: none;
    color: #555;
    font-weight: bold;
    &:hover{
      color: black;
    }
  }
}